<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>New Review</title>
        <style>
        .topbar {
            overflow: hidden;
            background-color: #fff;
        }

        .topbar button {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .topbar button:hover {
            background-color: #ddd;
            color: black;
        }
    </style>
</head>
    <body>
	    <div class="topbar">
		  <button onclick="location.href='/';">Home</button>
		  <button onclick="location.href='/insert';">Insert Review</button>
		  <button onclick="location.href='/delete';">Delete Review</button>  
		  <button onclick="location.href='/leaderboard';">User Leaderboard</button>  
		  <button onclick="location.href='/view_reviews_actor';">View Reviews by Actor</button>
		  <button onclick="location.href='/view_reviews_director';">View Reviews by Director</button>
		</div>
        <h2>Home</h2>
        <img src="https://cdn1.vox-cdn.com/thumbor/ysXEdnqxuPrPYDzzXP-dU5u_A68=/0x0:1920x1080/1600x900/cdn0.vox-cdn.com/uploads/chorus_image/image/47327740/20151003170110.0.0.0.jpg" alt="He's so sad :(" width="800" height="450">        
        <h2>All Reviews</h2>

        <table align="left", border = 1, cellpadding = 3px, cellspacing = 0px>
            <tr>
                <th>Username</th>
                <th>Movie</th>
                <th>User Rating</th>
                <th>User Review</th>
            </tr>
            {{#ratings}}
                <tr>
                    <td>{{username}}</td>
                    <td>{{movie_name}}</td>
                    <td>{{user_rating}}</td>
                    <td>{{user_review}}</td>
                </tr>
            {{/ratings}}
        </table>
    </body>
</html>
