<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SyncSounds</title>
    <style>
        .topbar {
            overflow: hidden;
            background-color: #fff;
        }

        .topbar button {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .topbar button:hover {
            background-color: #ddd;
            color: black;
        }
    </style>
</head>
    <body>
	    <div class="topbar">
		  <button onclick="location.href='/';">Home</button>
		  <button onclick="location.href='/login';">Login</button>
		  <button onclick="location.href='/insert';">Add Song</button>
		  <button onclick="location.href='/musicality';">Musicality</button>  
		  <button onclick="location.href='/energy';">Energy</button>  
		  <button onclick="location.href='/atmosphere';">Atmosphere</button>
		  <button onclick="location.href='/volume';">Volume</button>
		  <button onclick="location.href='/leaderboard';">Album Leaderboard</button>
		  <button onclick="location.href='/random';">Random Song & Video</button>
		</div>
		
        <h2>Welcome to SyncSounds!</h2>
        
        <h3>
        	SyncSounds is a website used to analyze songs, using the characteristics given to them by Spotify. <br>
        	These characteristics are:
        </h3>
        
        <p>
        	<b>Danceability:</b> describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.<br>
			<br>
			<b>Energy:</b> is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.<br>
			<br>
			<b>Key:</b> the key the track is in. Integers map to pitches using standard Pitch Class notation. E.g. 0 = C, 1 = C♯/D♭, 2 = D, and so on. If no key was detected, the value is -1.<br>
			<br>
			<b>Loudness:</b> the overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typically range between -60 and 0 db.<br>
			<br>
			<b>Speechiness:</b> detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.<br>
			<br>
			<b>Acousticness:</b> a confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.<br>
			<br>
			<b>Instrumentalness:</b> predicts whether a track contains no vocals. "Ooh" and "aah" sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly "vocal". The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.<br>
			<br>
			<b>Liveness:</b> detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 0.8 provides strong likelihood that the track is live.<br>
			<br>
			<b>Valence:</b> a measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).<br>
			<br>
			<b>Tempo:</b> the overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration
        </p> 
    </body>
</html>
