<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SyncSounds</title>
    <style>
        .topbar {
            overflow: hidden;
            background-color: #fff;
        }

        .topbar button {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .topbar button:hover {
            background-color: #ddd;
            color: black;
        }
    </style>
</head>
    <body>
	    <div class="topbar">
		  <button onclick="location.href='/';">Home</button>
		  <button onclick="location.href='/login';">Login</button>
 		  <button onclick="location.href='/register';">Register</button>		  
		  <button onclick="location.href='/insert';">Add Song</button>
		  <button onclick="location.href='/musicality';">Musicality</button>  
		  <button onclick="location.href='/energy';">Energy</button>  
		  <button onclick="location.href='/atmosphere';">Atmosphere</button>
		  <button onclick="location.href='/volume';">Volume</button>
		  <button onclick="location.href='/leaderboard';">Album Leaderboard</button>
		  <button onclick="location.href='/random';">Random Song & Video</button>
		</div>
		
        <h2>Search for a new song and add a New Song to Database using found Spotify ID</h2>
        
        <form action="/submitsearch" method="POST">
            <input type="text" name="song_name" placeholder="Song Name">
            <input type="text" name="artist" placeholder="Artist">
            <input type="submit"/>
        </form>
        
        <h2>Add Song to Database using selected Spotify ID from Table</h2>
            
        <form action="/submitinsert" method="POST">
            <input type="text" name="spotify_id" placeholder="Spotify ID">
            <input type="submit"/>
        </form>            
        <p></p>
        <table align="left", border = 1, cellpadding = 3px, cellspacing = 0px>
            <tr>
            	<th>Song Name</th>
                <th>Artist(s)</th>
                <th>Album</th>
                <th>Spotify ID</th>
                <th>Spotify URI</th>
            </tr>
            {{#track_list}}
                <tr>
                	<td>{{name}}</td>
                    <td>{{artists_toString}}</td>
                    <td>{{album_name}}</td>                    
                    <td>{{id}}</td>
                    <td>{{uri}}</td>
                </tr>
            {{/track_list}}
        </table>
    </body>
</html>
