<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SyncSounds</title>
    <style>
        .topbar {
            overflow: hidden;
            background-color: #fff;
        }

        .topbar button {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .topbar button:hover {
            background-color: #ddd;
            color: black;
        }
    </style>
</head>
    <body>
	    <div class="topbar">
		  <button onclick="location.href='/';">Home</button>
		  <button onclick="location.href='/login';">Login</button>
 		  <button onclick="location.href='/register';">Register</button>
		  <button onclick="location.href='/insert';">Add Song</button>
		  <button onclick="location.href='/musicality';">Musicality</button>  
		  <button onclick="location.href='/energy';">Energy</button>  
		  <button onclick="location.href='/atmosphere';">Atmosphere</button>
		  <button onclick="location.href='/volume';">Volume</button>
		  <button onclick="location.href='/leaderboard';">Album Leaderboard</button>
		  <button onclick="location.href='/random';">Random Song & Video</button>
		</div>
		
        <h2>Register</h2>
		
        <form action="/submitregister" method="POST">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="pw" placeholder="Password">

            <input type="submit"/>
        </form>        
    </body>
</html>