<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello</title>
</head>
    <body>
        <h2>Our Message: {{message}}</h2>
        <p>This is some information.</p>

        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
            </tr>
            {{#movies}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{author}}</td>
                    <td>{{year}}</td>
                </tr>
            {{/books}}
        </table>
        <form action="/submitform" method="POST">
            <input type="text" name="title"/>
            <input type="text" name="author"/>
            <input type="text" name="year"/>
            <input type="submit"/>
        </form>
    </body>
</html>
